.description {
  position: relative;
}

.description-border::before {
  content: "";
  width: 320px;
  height: 1px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url("../img/catalog/line.svg");
  top: -9%;
  left: 0%;
  position: absolute;
}

.description__title,
.description__general-title {
  margin: 0 auto;
  margin-top: 26px;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  width: 272px;
}

.description__title {
  margin: 0 auto;
  margin-top: 33px;
}

.description__catalog-title {
  margin-top: 35px;
}

.description__text {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  line-height: 1.8;
  width: 285px;
}

.description__catalog-subtitle,
.description__catalog-subtext {
  margin: 0 auto;
}

.description__catalog-subtitle {
  margin-top: 34px;
}

.description__catalog-subtext {
  margin-top: 28px;
  width: 258px;
}

@media (min-width: $tablet-width) {
  .description__title,
  .description__text,
  .description__general-title {
    width: 520px;
  }

  .description__title {
    font-size: 21px;
    margin-top: 45px;
  }

  .description__general-title {
    font-size: 30px;
    margin-top: 65px;
  }

  .description__general-text {
    width: 440px;
    margin-top: 32px;
  }

  .description__catalog-subtext {
    width: 450px;
  }

  .description-border::before {
    display: none;
  }

  .description__catalog-subtitle {
    margin-top: 58px;
  }
}

@media (min-width: $desktop-width) {
  .description {
    margin-top: 56px;
  }

  .description__general-title {
    margin-top: 100px;
  }

  .description__catalog-subtitle {
    margin-top: 50px;
  }

  .description-border {
    margin-top: 62px;
  }

  .description__text {
    margin-top: 32px;
  }
}
