.features__block {
  background: $basic-gray;
  position: relative;
}

.features__title {
  font-size: 18px;
}

.features__number,
.features__text {
  font-size: 14px;
}

.features__number,
.features__text,
.features__title {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.features__text-block1 {
  margin: 0 auto;
  margin-top: 10px;
  width: 281px;
}

.features__text-block3 {
  margin: 0 auto;
  margin-top: 10px;
  width: 249px;
}

.features__number {
  margin-top: 7px;
}

.features__text-width {
  width: 255px;
  margin: 0 auto;
  margin-top: 13px;
}

.features-text {
  margin-top: 10px;
}

.features__container {
  background-color: $basic-gray;
}

.features__block-border::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("../img/main/border-line.png");
  width: 280px;
  height: 1px;
  left: 6%;
  top: -4%;
}

.features__block-container {
  padding: 25px 0px 19px 0;
}

@media (min-width: $tablet-width) {
  .features {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 64px;
    max-width: 768px;
  }
  .features__container {
    background-image: url("../img/tablet/devil-bridge.webp");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 512px;
    height: 256px;
    order: -1;
  }

  .features__block-container {
    padding: 20px 0 19px;
  }

  .features__container img{
    display: none;
  }
  .features__block {
    display: flex;
    flex-direction: column;
    width: 256px;
    height: 256px;
  }
  .features__block-border::before {
    display: none;
  }
  .features__title {
    font-size: 22px;
    width: 150px;
    margin: 0 auto;
    margin-top: 25px;
  }
  .features__text {
    width: 180px;
    margin: 0 auto;
    line-height: 1.7;
  }
  .features__text-width {
    width: 145px;
  }
  .features__number-tablet {
    margin: 11px 0 21px 0;
  }
  .features__number {
    margin: 15px 0 11px 0;
  }
}

@media (min-width: $desktop-width) {
  .features {
    max-width: 1200px;
    margin-top: 81px;
  }
  .features__container {
    background-image: url("../img/desktop/photo-bridge.webp");
    width: 800px;
  }
  .features__text {
    width: 290px;
  }
  .features__text-width {
    width: 270px;
  }
  .features__block {
    min-width: 400px;
}
}
