.form-feedback__title {
  text-align: center;
  font-size: 18px;
  margin: 0;
  margin-top: 18px;
}

.form-feedback__representation,
.form-feedback__connection,
.form-feedback__impression,
.form-feedback__attractions,
.form-feedback__description {
  border-top: 1px solid $basic-gray;
  margin-top: 17px;
}

.form-feedback__basic-info input::-webkit-input-placeholder,
.form-feedback__data-info input::-webkit-input-placeholder {
  color: $basic-black;
}

/*Блок "Представьтесь/form-feedback__representation*/

.form-feedback__title,
.form-feedback__basic-info label {
  text-transform: uppercase;
}

.form-feedback__basic-info label {
  font-size: 14px;
}

.form-feedback__basic-info input {
  font-weight: 700;
  background-color: $gray-input;
  border: none;
  margin-top: 20px;
  font-size: 19px;
}

.form-feedback__basic-info {
  margin-left: 20px;
}

.form-feedback__first-area {
  padding: 19px 48px 19px 26px;
  margin-left: 6px;
}

.form-feedback__second-area {
  margin-left: 10px;
}

.form-feedback__first-area,
.form-feedback__second-area,
.form-feedback__third-area {
  max-width: 155px;
  box-sizing: content-box;
}

.form-feedback__second-area,
.form-feedback__third-area {
  padding: 19px 18px 19px 15px;
  margin-left: 17px;
}

/*Блок "Контактная информация/form-feedback__connection*/

.form-feedback__data-info {
  margin-top: 16px;
  position: relative;
}

.form-feedback__title-mob {
  margin-top: 26px;
}

.form-feedback__data-info input {
  border: none;
  background-color: #f2f2f2;
  padding: 20px 61px 20px 23px;
  font-weight: 700;
  margin-top: 5px;
  margin-left: 19px;
  font-size: 18px;
}

.form-feedback__data-info label {
  text-transform: uppercase;
  margin-left: 42px;
  font-size: 14px;
}

.form-feedback__decoration-phone-container {
  background-color: $gray-iconbg;
  width: 58px;
  height: 58px;
  position: absolute;
  top: 35%;
  left: 75%;
}

.form-feedback__decoration-phone-container::after {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 18px;
  height: 18px;
  background-image: url("../../img/form/phone.svg");
  top: 33%;
  left: 33%;
}

.form-feedback__decoration-mail-container {
  background-color: $gray-iconbg;
  width: 58px;
  height: 58px;
  position: absolute;
  top: 35%;
  left: 75%;
}

.form-feedback__decoration-mail-container::after {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 18px;
  height: 18px;
  background-image: url("../../img/form/mail.svg");
  top: 40%;
  left: 37%;
}

/*Блок "Общее впечатление/form-feedback__impression*/

.form-feedback__impression-list {
  list-style: none;
}

.form-feedback__impression-item {
  margin-top: 40px;
}

.form-feedback__impression-item:last-child {
  margin-bottom: 43px;
}

.form-feedback__check {
  padding-left: 57px;
  font-weight: 700;
}

.form-feedback__check-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-feedback__check-box {
  position: absolute;
  margin-left: -75px;
  margin-top: -15px;
  width: 55px;
  height: 55px;
  background-repeat: no-repeat;
  background-image: url("../../img/form/box.svg");
}

.form-feedback__check-input:checked + .form-feedback__check-box {
  background-image: url("../../img/form/on.svg");
}

.form-feedback__check-input:focus + .form-feedback__check-box {
  background-image: url("../../img/form/focus-box.svg");
}

.form-feedback__check-input:checked:focus + .form-feedback__check-box {
  background-image: url("../../img/form/on-focus.svg");
}

/*Блок "Посещаемые достопримечательности/form-feedback__attractions*/

.form-feedback__attractions-list {
  list-style: none;
}

.form-feedback__attractions-item {
  margin-top: 34px;
}

.form-feedback__attractions-item:nth-child(2) {
  margin-top: 45px;
}

.form-feedback__attractions-item:nth-child(3) {
  margin-top: 54px;
}

.form-feedback__attractions-item:last-child {
  margin-top: 54px;
  margin-bottom: 43px;
}

.from-feedback__attractions-check {
  padding-left: 57px;
  font-weight: 700;
}

.form-feedback__attractions-check-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-feedback__attractions-check-box {
  position: absolute;
  margin-left: -75px;
  margin-top: -15px;
  width: 55px;
  height: 55px;
  background-repeat: no-repeat;
  background-image: url("../../img/form/off-square.svg");
}

.form-feedback__attractions-check-input:checked + .form-feedback__attractions-check-box {
  background-image: url("../../img/form/on-square.svg");
}

.form-feedback__attractions-check-input:focus + .form-feedback__attractions-check-box {
  background-image: url("../../img/form/focus-square.svg");
}

.form-feedback__attractions-check-input:checked:focus + .form-feedback__attractions-check-box {
  background-image: url("../../img/form/on-focus-square.svg");
}

/*Блок "Опишите свои эмоции/form-feedback__description*/

.form-feedback__description-container {
  text-align: center;
}

.form-feedback__description-text {
  max-width: 231px;
  height: 148px;
  background-color: $gray-input;
  resize: none;
  border: none;
  margin-top: 16px;
  padding: 13px 26px 0 24px;
  line-height: 1.3;
}

.form-feedback__description-text::-webkit-input-placeholder {
  color: $basic-black;
  font-weight: 700;
}

/*Кнопка "Оставить отзыв"*/

.form-feedback__button {
  background-color: $basic-blue;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: $basic-white;
  padding: 17px 45px;
  display: block;
  margin: 0 auto;
  margin-top: 39px;
  margin-bottom: 76px;
  max-width: 280px;
  border: 0;
}

.form-feedback__button:hover {
  background-color: $blue-hover;
}

.form-feedback__button:active {
  background-color: $blue-active;
}

.form-feedback__addition {
  display: none;
}
.form-feedback__data-info-hide {
  display: none;
}

.form-feedback__first-area:hover,
.form-feedback__second-area:hover,
.form-feedback__third-area:hover,
.form-feedback__phone:hover,
.form-feedback__email:hover,
.form-feedback__description-text:hover {
    background: $gray-disable;
  }
.form-feedback__first-area:active,
.form-feedback__second-area:active,
.form-feedback__third-area:active,
.form-feedback__phone:active,
.form-feedback__email:active,
.form-feedback__description-text:active {
  background: $basic-white;
}
.form-feedback__first-area:focus,
.form-feedback__second-area:focus,
.form-feedback__third-area:focus,
.form-feedback__phone:focus,
.form-feedback__email:focus,
.form-feedback__description-text:focus {
  outline: none;
  box-shadow: 3px solid $gray-disable;
}

@media (min-width: $tablet-width) {
  .form-feedback {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 768px;
  }
  .form-feedback__impression {
    order: -1;
  }
  .form-feedback__connection{
    margin: 0 auto;
  }
  .form-feedback__impression-list{
    padding-left: 77px;
  }
  .form-feedback__impression-item:first-child {
    margin-top: 73px;
  }
  .form-feedback__impression-item:nth-child(2) {
    margin-top: 51px;
  }
  .form-feedback__impression-item:last-child {
    margin-top: 51px;
  }
  .form-feedback__basic-info input {
    margin-top: 18px;
  }
  .form-feedback__first-area{
    padding: 19px 39px 19px 26px;
  }
  .form-feedback__second-area {
    padding: 19px 2px 25px 15px;
  }
  .form-feedback__third-area{
    padding: 19px 8px 19px 15px;
  }
  .form-feedback__title-repesentation{
    margin-left: 111px;
  }
  .form-feedback__title{
    text-align: start;
    font-size: 21px;
    margin-top: 63px;
  }
  .form-feedback__basic-info {
    margin-left: 111px;
  }
  .form-feedback__basic-info-posititon {
    margin-top: 35px;
  }
  .form-feedback__title-mob {
    margin-left: 59px;
  }
  .form-feedback__data-info {
    margin: 19px 0 0 40px;
  }
  .form-feedback__data-info-position{
    margin: 25px 0 0 40px;
  }
  .form-feedback__data-info input{
    margin-top: 8px;
    padding: 19px 427px 18px 23px;
  }
  .form-feedback__decoration-phone-container,
  .form-feedback__decoration-mail-container {
    width: 58px;
    height: 57px;
    top: 38%;
    left: 609px;
  }
  .form-feedback__representation,
  .form-feedback__connection,
  .form-feedback__impression,
  .form-feedback__attractions,
  .form-feedback__description {
    border-top: none;
    max-width: 768px;
  }
  .form-feedback__title-connection {
    text-align: center;
    margin: 45px 0 0 0;
  }
  .form-feedback__attractions {
    margin: 0 auto;
    min-width: 490px;
    margin-top: 51px;
  }
  .form-feedback__attractions-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0px 68px;
  }
  .form-feedback__attractions-item {
    margin-top: 43px;
    margin-left: 105px;
  }
  .form-feedback__attractions-item:nth-child(2) {
    margin-top: 45px;
    margin-left: 95px;
  }
  .form-feedback__attractions-item:nth-child(3) {
    margin-top: 62px;
    margin-left: 105px;
  }
  .form-feedback__attractions-item:last-child {
    margin-left: 115px;
    margin-top: 61px;
    margin-bottom: 0;
  }
  .form-feedback__title-attractions {
    text-align: center;
    width: 300px;
    margin: 0 auto;
  }
  .form-feedback__description-container {
    margin-top: 37px;
  }
  .form-feedback__description {
    margin: 0 auto;
    margin-top: 60px;
  }
  .form-feedback__description-text {
    min-width: 598px;
    height: 141px;
    padding: 19px 26px 0px 24px;
  }
  .form-feedback__description-text input {
    font-size: 180px;
  }
  .form-feedback__button-container{
    margin: 0 auto;
    max-width: 648px;
    display: flex;
    flex-wrap: wrap;
  }
  .form-feedback__button {
    margin-top: 55px;
    padding: 17px 75px 17px 66px;
    max-width: 324px;
  }
  .form-feedback__addition{
    display: block;
    margin-top: 73px;
    margin-left: 163px;
    text-transform: uppercase;
    font-size: 14px;
  }
  .form-feedback__first-area:active,
  .form-feedback__second-area:active,
  .form-feedback__third-area:active {
    border: 3px solid $gray-disable;
  }
}


@media (min-width: $desktop-width) {
  .form-feedback {
    max-width: 960px;
    margin-top: 59px;
  }
  .form-feedback__title {
    margin-top: 0;
    text-align: start;
  }
  .form-feedback__impression {
    margin: 0;
    position: relative;
  }
  .form-feedback__impression::after {
    content: "";
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url("../img/desktop/line.svg");
    width: 1px;
    height: 292px;
    top: 0;
    left: 136%;
    position: absolute;
  }
  .form-feedback__title-impression {
    margin-left: 82px;
  }
  .form-feedback__representation,
  .form-feedback__basic-info {
    margin: 0;
  }
  .form-feedback__representation {
    width: 400px;
    margin-left: auto;
  }
  .form-feedback__basic-info-posititon{
    margin-top: 37px;
  }
  .form-feedback__impression-list {
    padding: 0px;
    margin-left: 24px;
  }
  .form-feedback__title-repesentation {
    margin: 0;
  }
  .form-feedback__first-area,
  .form-feedback__second-area,
  .form-feedback__third-area {
    max-width: 350px;
  }
  .form-feedback__representation {
    width: 400px;
  }
  .form-feedback__first-area {
    padding: 19px 100px 19px 26px;
  }
  .form-feedback__second-area {
    padding: 19px 65px 19px 23px;
    margin-left: 7px;
  }
  .form-feedback__third-area {
    padding: 19px 73px 19px 21px;
    margin-left: 7px;
  }
  .form-feedback__connection{
    max-width: 960px;
    margin: 0;
    margin-top: 40px;
    position: relative;
  }
  .form-feedback__connection::after {
    content: "";
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url("../img/desktop/line2.svg");
    width: 280px;
    height: 1px;
    top: 7%;
    left: 0%;
    position: absolute;
  }
  .form-feedback__connection::before {
    content: "";
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url("../img/desktop/line2.svg");
    width: 280px;
    height: 1px;
    top: 7%;
    left: 71%;
    position: absolute;
  }
  .form-feedback__attractions::before {
    content: "";
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url("../img/desktop/line2.svg");
    width: 280px;
    height: 1px;
    top: 16%;
    left: 71%;
    position: absolute;
  }
  .form-feedback__attractions::after {
    content: "";
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url("../img/desktop/line2.svg");
    width: 280px;
    height: 1px;
    top: 16%;
    left: 0%;
    position: absolute;
  }
  .form-feedback__description::before {
    content: "";
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url("../img/desktop/line2.svg");
    width: 280px;
    height: 1px;
    top: 4%;
    left: 71%;
    position: absolute;
  }
  .form-feedback__description::after {
    content: "";
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url("../img/desktop/line2.svg");
    width: 280px;
    height: 1px;
    top: 4%;
    left: 0%;
    position: absolute;
  }
  .form-feedback__impression-item {
    margin-top: 53px;
  }
  .form-feedback__data-info input {
    padding: 20px 95px 20px 18px;
  }
  .form-feedback__data-info label {
    margin: 0;
  }
  .form-feedback__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 960px;
  }
  .form-feedback__data-info-hide {
    display: inline-block;
  }
  .form-feedback__data-info-visual {
    display: none;
  }
  .form-feedback__data-info {
    margin: 0;
    margin-top: 65px;
  }
  .form-feedback__decoration-phone-container{
    top: 14%;
    left: 345px;
  }
  .form-feedback__decoration-mail-container {
    top: 14%;
    left: 88%;
  }
  .form-feedback__attractions {
    max-width: 960px;
    margin-top: 50px;
    position: relative;
  }
  .form-feedback__attractions-list {
    padding: 0;
    justify-content: space-between;
    width: 960px;
  }
  .form-feedback__attractions-item,
  .form-feedback__attractions-item:last-child {
    margin-left: 0;
  }
  .form-feedback__attractions-item,
  .form-feedback__attractions-item:nth-child(2),
  .form-feedback__attractions-item:nth-child(3),
  .form-feedback__attractions-item:last-child {
    margin-top: 40px;
  }
  .form-feedback__attractions-item {
    margin-left: 26px;
  }
  .form-feedback__attractions-item:nth-child(2) {
    margin-left: 0;
  }
  .form-feedback__attractions-item:nth-child(3) {
    margin-left: 0;
  }
  .form-feedback__attractions-check-box{
    margin-left: -82px;
  }
  .form-feedback__title-connection {
    text-align: center;
  }
  .form-feedback__title-attractions {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  .form-feedback__description {
    max-width: 960px;
    position: relative;
  }
  .form-feedback__description-text {
    min-width: 940px;
    height: 141px;
    padding: 21px 0px 0px 21px;
  }
  .form-feedback__button-container{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-top: 53px;
  }
  .form-feedback__button {
    padding: 18px 149px;
    max-width: 483px;
    margin: 0;
  }
  .form-feedback__addition{
    margin-top: 19px;
    margin-left: 318px;
  }
  .form-feedback__description {
    margin-top: 65px;
  }
}
