.interesting__title {
  font-size: 21px;
  margin: 0;
  margin-top: 30px;
}

.interesting__text {
  font-size: 14px;
  margin: 0 auto;
  margin-top: 20px;
  width: 265px;
}

.interesting__title,
.interesting__text {
  text-transform: uppercase;
  text-align: center;
}

.interesting__search {
  background-color: $basic-blue;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: $basic-white;
  padding: 17px 47px;
  display: block;
  margin: 0 auto;
  max-width: 186px;
  margin-top: 22px;
}

.interesting__search:hover {
  background-color: $blue-hover;
}

.interesting__search:active {
  background-color: $blue-active;
}

.interesting__map-container {
  display: block;
  margin-top: 48px;
}
.interesting__map {
  display: none;
}
.interesting__map-google {
  width: 320px;
  height: 350px;
}

@media (min-width: $tablet-width) {
  .interesting {
    width: 768px;
    margin: 0 auto;
    margin-top: 58px;
    margin-bottom: 50px;
  }
  .interesting__title {
    font-size: 30px;
  }
  .interesting__text {
    font-size: 14px;
    margin: 0 auto;
    margin-top: 32px;
    width: 440px;
  }
  .interesting__text-addition{
    display: block;
  }
  .interesting__map {
    display: none;
  }
  .interesting__map-google {
    width: 768px;
    height: 350px;
  }
  .interesting__map-container {
    background-image: url("../img/tablet/map-tablet@1x.webp");
    height: 350px;
    width: 768px;
    margin-top: 58px;
  }
  .interesting__search {
    text-align: center;
    margin-top: 36px;
    padding: 17px 137px;
  }
}

@media (min-width: $desktop-width) {
  .interesting {
    width: 1200px;
  }
  .interesting__map-container {
    background-image: url("../img/desktop/map-desktop@1x.webp");
    width: 1200px;
    margin-top: 66px;
  }
  .interesting__map-google {
    width: 1200px;
    height: 350px;
  }
}
