.item-logo {
  width: 320px;
  height: 55px;
  position: relative;
}

.item-logo::after {
  content: "";
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 102px;
  height: 84px;
  position: absolute;
  background-image: url("../../../img/menu/logotype-mobile.svg");
  top: 0%;
  left: 35%;
  z-index: 1;
}
