.main-nav__list {
  padding: 0;
  margin: 0;
  position: relative;
  display: none;
}

.main-nav__visual {
  display: block;
}

.main-nav__hide {
  display: none;
}

.main-nav__basic-bar {
  position: relative;
}

.main-nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.main-nav__link {
  background-color: $basic-blue;
  color: $basic-white;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 50px;
  box-shadow: 1px 1px 1px rgba(1, 1, 1, 0.2), inset 1px 1px 1px rgba(255, 255, 255, 0.2);
}

.main-nav__link:hover {
  background-color: $blue-hover;
}

.main-nav__link:active {
  background-color: $blue-active;
}

.main-nav__link .main-nav__text:active {
  opacity: 0.3;
}

.main-nav__link--size-a {
  padding: 15px 122px;
}

.main-nav__close-button {
  position: absolute;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url("../../../img/menu/icon-cross.svg");
  top: -207px;
  right: 19px;
  width: 23px;
  height: 22px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.main-nav__link--size-b {
  padding: 15px 97px;
}

.main-nav__link--size-c {
  padding: 15px 93px;
}

.main-nav__link--size-d {
  padding: 15px 96px 13px 96px;
  position: relative;
}

.main-nav__link--size-d::after {
  content: "";
  position: absolute;
  top: 34px;
  left: 0px;
  width: 100%;
  height: 20px;
  background: linear-gradient(to top, $blue-shadow 0,transparent 5px);
}

.main-nav__item--logo {
  width: 50px;
  height: 55px;
  position: relative;
  left: 93px;
}

.main-nav__icon-logo {
  display: block;
  position: absolute;
  width: 102px;
  height: 84px;
  z-index: 1;
  top: 0%;
  left: 34%;
}

.main-nav__icon-logo-desktop {
  display: none;
}

.main-nav__toggle {
  position: absolute;
  background-image: url("../../../img/menu/icon-menu.svg");
  top: 15px;
  right: 23px;
  width: 23px;
  height: 22px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.main-nav__toggle:hover {
  opacity: 0.6;
}

@media (min-width: $tablet-width) {
  .main-nav {
    max-width: 768px;
    margin: 0 auto;
  }
  .main-nav__wrapper {
    height: 55px;
  }
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 15px;
  }
  .main-nav__text:hover {
    color: $blue-hover;
  }
  .main-nav__text:active {
    color: $blue-active;
  }
  .main-nav__text:active:disabled {
    background-color: $gray-disable;
    color: $basic-white;
  }
  .main-nav__link:hover,
  .main-nav__link:active {
    background-color: transparent;
  }

  .main-nav__item {
    width: 20%;
  }
  .main-nav__item:nth-child(1),
  .main-nav__item:nth-child(2) {
    order: 0;
  }
  .main-nav__item:nth-child(3) {
    order: 2;
    margin-left: 3px;
  }
  .main-nav__item:nth-child(4) {
    order: 3;
    margin-left: -3px;
  }
  .main-nav__item:last-child {
    order: 1;
  }
  .main-nav__item--logo {
    position: absolute;
    top: -55px;
    left: 43%;
}
  .main-nav__link {
    padding: 0;
    color: $basic-black;
    background-color: $basic-white;
    box-shadow: none;
    font-size: 14px;
  }
  .main-nav__icon-logo {
    left: 17%;
    top: 0;
  }
  .main-nav__toggle,
  .main-nav__close-button {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    max-width: 1200px;
  }
  .main-nav__item:nth-child(3) {
    margin-left: 0;
  }
  .main-nav__item:nth-child(4) {
    margin-left: 0;
  }
  .main-nav__item--logo {
    left: 39%;
  }
  .main-nav__icon-logo {
    display: none;
  }
  .main-nav__icon-logo-desktop {
    display: block;
    position: absolute;
    width: 187px;
    height: 97px;
    z-index: 1;
    top: 0;
    left: 12%;
  }
}
