.social {
  margin-top: 32px;
}

.social__title {
  font-size: 21px;
  text-transform: uppercase;
  text-align: center;
  margin: 0px 0 15px 0px;
}

.social__item {
  background-color: $basic-blue;
  padding: 12px 24px;
  margin-right: 6px;
  position: relative;
}

.social__icon-twitter {
  display: block;
  position: absolute;
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 16px;
  height: 15px;
  top: 36%;
  left: 30%;
}

.social__icon-facebook {
  display: block;
  position: absolute;
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 11px;
  height: 19px;
  top: 31%;
  left: 42%;
}

.social__icon-youtube {
  display: block;
  position: absolute;
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 24px;
  height: 15px;
  top: 36%;
  left: 26%;
}

.social__item:first-child:hover {
  background-color: $blue-hover;
}

.social__item:first-child:active {
  background-color: $blue-active;
}

.social__item:nth-child(2):hover {
  background-color: $blue-hover;
}

.social__item:nth-child(2):active {
  background-color: $blue-active;
}

.social__item:last-child:hover {
  background-color: $blue-hover;
}

.social__item:last-child:active {
  background-color: $blue-active;
}

.social__links {
  max-width: 162px;
  margin: 0 auto;
  margin-top: 44px;
}

.social__dev {
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  max-width: 121px;
  text-decoration: none;
  color: $basic-black;
  position: relative;
  margin-top: 55px;
  padding-right: 5px;
}

.social__icon-htmlacademy {
  position: absolute;
  width: 34px;
  height: 27px;
  top: -7%;
  left: 80%;
}

.social__dev-icon path:hover {
  fill: $basic-blue;
}

.social__dev-icon path:disabled {
  fill: $basic-gray;
}

@media (min-width: $tablet-width) {
  .social {
    display: flex;
    flex-wrap: wrap;
    max-width: 647px;
    margin: 0 auto;
    margin-top: 31px;
  }
  .social__links {
    margin: 0 auto;
    margin-left: 109px;
  }
  .social__title,
  .social__dev {
    margin: 0;
  }
  .social__dev::after {
    left: 108%;
    top: -28%;
  }
  .social__dev {
    margin-right: 33px;
  }
  .social__icon-htmlacademy {
    position: absolute;
    top: -15%;
    left: 108%;
  }
}

@media (min-width: $desktop-width) {
  .social {
    max-width: 960px;
    margin: 0 auto;
    margin-top: 132px;
  }
  .social-feedback {
    margin-top: 112px;
  }
  .social__links {
    margin: 0 auto;
    margin-bottom: 36px;
  }
  .social__dev::after {
    top: -6%;
  }
  .town__icon-htmlacademy {
    position: absolute;
    top: -7%;
    left: 108%;
  }
}
