.color-card {
  background-color: $basic-blue;
}

.color-card__title {
  font-size: 18px;
}

.color-card__number,
.color-card__text {
  font-size: 14px;
}

.color-card__text,
.color-card__title,
.color-card__number {
  text-transform: uppercase;
  text-align: center;
  color: $basic-white;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .color-card {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .color-card__text {
    width: 200px;
  }
}

@media (min-width: $desktop-width) {
  .color-card__text {
    width: 275px;
  }
  .color-card__desktop-text {
    width: 230px;
  }
}
