.description__title,
.description__general-title {
  margin: 0 auto;
  margin-top: 44px;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  width: 272px;
}

.description__text {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  margin-top: 31px;
  width: 250px;
}

@media (min-width: $tablet-width) {
  .description__title,
  .description__text,
  .description__general-title {
    width: 520px;
  }
  .description__title {
    font-size: 21px;
  }
  .description__general-title {
    font-size: 30px;
  }
  .description__general-text {
    width: 440px;
  }
}
