.features__block {
  background: $basic-gray;
}

.features__title {
  font-size: 18px;
}

.features__number,
.features__text {
  font-size: 14px;
}

.features__number,
.features__text,
.features__title {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 59px;
  }
  .features__container {
    background-image: url("../img/tablet/devil-bridge.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 66%;
    height: 253px;
    order: -1;
  }
  .features__container img{
    display: none;
  }
  .features__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33.1%;
    height: 256px;
  }
  .features__text {
    width: 165px;
    margin: 0 auto;
  }
  .features__text-width {
    width: 155px;
  }
  .features__number {
    margin: 15px 0 20px 0;
  }
}

@media (min-width: $desktop-width) {
  .features__container {
    background-image: url("../img/desktop/photo-bridge.jpg");
    background-size: auto;
  }
  .features__text {
    width: 290px;
  }
  .features__text-width {
    width: 270px;
  }
}
