.intro {
  background-image: url("../img/header/logo-mobile.jpg");
  background-repeat: no-repeat;
  width: 320px;
  height: 390px;
  position: relative;
}


@media (min-width: $tablet-width) {
  .intro {
    margin: 0 auto;
    background-image: url("../img/tablet/logo-tablet.jpg");
    width: 767px;
    height: 518px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    margin: 0 auto;
    background-image: url("../img/desktop/logo-desktop.jpg");
    width: 1200px;
    height: 518px;
  }
  .intro__title {
    left: 31%;
  }
}
