.intro-form {
  background-image: url("../img/form/back-desktop.jpg");
  background-repeat: no-repeat;
  width: 320px;
  height: 170px;
  position: relative;
}

.intro-form__title{
  background-image: url("../img/form/SEDONA.svg");
  background-repeat: no-repeat;
  width: 320px;
  height: 50px;
  top: 45%;
  left: 14%;
  position: absolute;
}
