.page-container {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  max-width: 320px;
  line-height: 26px;
  padding: 0;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-container {
    max-width: $tablet-width-container;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .page-container {
    max-width: $desktop-width-container;
    margin: 0 auto;
    box-shadow: 0px 5px 15px $gray-border-shadow;
  }
}
