.town {
  position: relative;
}

.town__title {
  font-size: 18px;
  margin: 0;
}

.town__text {
  font-size: 14px;
  margin: 0;
  margin-top: 5px;
}

.town__text-mobile {
  width: 220px;
}

.town__title,
.town__text {
  text-transform: uppercase;
}

.town__housing,
.town__souvenirs,
.town__food {
  margin-left: 70px;
  margin-top: 27px;
}

.town__icon-house {
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 58%;
  left: 7%;
}

.town__icon-souvenir {
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 73%;
  left: 8%;
}

.town__icon-food {
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 86%;
  left: 6%;
}

@media (min-width: $tablet-width) {
  .town {
    margin-top: 40px;
    max-width: 768px;
  }
  .town__title {
    font-size: 21px;
  }
  .town__text {
    margin-top: 20px;
}
  .town__title,
  .town__text {
    text-align: center;
  }
  .town__text-tablet {
    width: 155px;
    margin: 0 auto;
    margin-top: 23px;
    line-height: 1.6;
  }
  .town,
  .town__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 53px;
    position: relative;
  }
  .town__img {
    display: none;
  }
  .town__img-container {
    background-image: url("../img/tablet/photo-city-tablet.jpg");
    background-repeat: no-repeat;
    width: 512px;
    height: 256px;
  }
  .town__souvenirs {
    order: 1;
  }
  .town__housing,
  .town__souvenirs,
  .town__food{
    width: 192px;
    height: 185px;
    margin-left: 0;
  }
  .town__souvenirs,
  .town__food {
    margin-left: 65px;
  }
  .town__title {
    margin-top: 75px;
    text-align: center;
  }
  .town__icon-house,
  .town__icon-souvenir,
  .town__icon-food {
    display: block;
    width: 76px;
    height: 76px;
    margin: 0 auto;
  }
  .town__icon-house {
    top: 4%;
    left: 60px;
  }
  .town__icon-souvenir {
    top: 3%;
    left: 576px;
  }
  .town__icon-food {
    top: 5%;
    left: 315px;
  }
}

@media (min-width: $desktop-width) {
  .town,
  .town__container {
    margin-top: 39px;
  }
  .town__souvenirs,
  .town__food,
  .town__housing {
    width: 400px;
  }
  .town__souvenirs,
  .town__food {
    margin-left: 0;
  }
  .town__icon-house{
    left: 162px;
    top: 11%;
  }
  .town__icon-souvenir {
    left: 968px;
    top: 9%;
  }
  .town__icon-food {
    left: 562px;
    top: 13%;
  }
  .town__title {
    margin-top: 93px;
  }
  .town__text {
    width: 285px;
    margin: 0 auto;
    margin-top: 22px;
    line-height: 1.7;
  }
  .town__text-desktop {
    width: 285px;
  }
  .town__text-addition {
    display: block;
  }
  .town__img {
    display: none;
  }
  .town__img-container {
    background-image: url("../img/desktop/photo-city-desktop.jpg");
    width: 800px;
  }
  .town {
    max-width: 1200px;
  }
}
