//Template Colors
$basic-blue: #81b3d2;
$blue-hover: #669ec0;
$blue-active: #5496bd;
$basic-gray: #eeeeee;
$gray-disable: #e5e5e5;
$gray-iconbg: #e6e6e6;
$gray-input: #f2f2f2;
$gray-input2: #eaeaea;
$gray-border: #d6d6d6;
$basic-white: #ffffff;
$basic-black: #000000;
$black-transperent: rgba(0,0,0,.3);
$gray-border-shadow: rgba(0, 1, 1, 0.2);

//Template breakpoints
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;

//Template Containers
$mobile-width-container: 767px;
$tablet-width-container: 1199px;
$desktop-width-container: 1200px;

//Template Fonts
@font-face {
  font-family: "PT Sans";
  src:url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
