.intro {
  background-image: url("../img/header/back-mobile.jpg.jpg");
  background-repeat: no-repeat;
  width: 320px;
  height: 332px;
  position: relative;
}

.intro__title {
  background-image: url("../../../img/header/text-index.svg");
  background-repeat: no-repeat;
  width: 320px;
  height: 332px;
  top: 27%;
  left: 5%;
  position: absolute;
}
