.main-nav__toggle {
  position: absolute;
  background-image: url("../../../img/menu/icon-menu.svg");
  top: 236px;
  right: 17px;
  width: 23px;
  height: 22px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
